<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Topik 3 | EJS</title>
</head>
<body>

  <h2>Topik 3 | EJS</h2>
  <p>Selamat belajar EJS</p>
  
</body>
</html>